<mat-card>
    <mat-toolbar color="primary">
        <h3>Set Your Password</h3>
    </mat-toolbar>
    <mat-card-content>

        <form #changePasswordForm="ngForm" class="my-form">

            <!--Code To Accept UserName from User And Check It is in Backend-->
            <mat-form-field class="full-width">
                <mat-label>Username </mat-label>
                <input matInput type="text" matInput ngModel name="username" id="username" required>
                <mat-error>
                    Please provide a valid username
                </mat-error>
            </mat-form-field>

            <button *ngIf="mailNotVerifed" mat-raised-button color="primary"
                (click)="verifyUsername(changePasswordForm)">Verify Username</button>
            <!--Code Ends Here-->

            <!--Code To Change Password-->
            <mat-form-field *ngIf="!mailNotVerifed" class="full-width">
                <mat-label>Password </mat-label>
                <input type="password" matInput #password="ngModel" ngModel name="password" id="password"
                    placeholder="Enter Password" minlength="8"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    <mat-error *ngIf="password.errors?.['required']">Enter the password</mat-error>
                    <mat-error *ngIf="password.errors?.['minlength']"> Password must atleast contain 8 characters
                    </mat-error>
                    <mat-error *ngIf="password.errors?.['pattern']"> User Password should contain atleast one
                        uppercase,one numeric and a special character.</mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!mailNotVerifed" class="full-width">
                <mat-label> Confirm Password </mat-label>
                <input type="password" (input)=" validatePassword(changePasswordForm)" matInput ngModel
                    #confirmPassword="ngModel" name="confirmPassword" id="confirmPassword"
                    placeholder="Enter Confirm Password" required>
                <mat-error *ngIf="confirmPassword.touched">
                    <mat-error *ngIf="confirmPassword.errors?.['passwordMismatch']">Password and Confirm Password
                        doesnot match</mat-error>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="!mailNotVerifed" mat-raised-button color="primary"
            (click)="changePassword(changePasswordForm)">Change Password</button>
    </mat-card-actions>
    <!--Code Ends Here-->
</mat-card>